<header>

  <div id="toggle-nav" class="visible-xs">
			<span data-action="toggle-nav" class="action mt-menu-label">
				<span class="mt-menu-bread mt-menu-bread-top">
					<span class="mt-menu-bread-crust mt-menu-bread-crust-top"></span>
				</span>
				<span class="mt-menu-bread mt-menu-bread-middle">
					<span class="mt-menu-bread-crust mt-menu-bread-crust-middle"></span>
				</span>
				<span class="mt-menu-bread mt-menu-bread-bottom">
					<span class="mt-menu-bread-crust mt-menu-bread-crust-bottom"></span>
				</span>
			</span>
  </div>

  <nav id="main-menu">
    <div class="container clever-menu wrap-main-menu padding-0">
      <ul>
        <li class="level0 dropdown"><a href="./category.html">jewellery</a></li>
        <li class="level0 logo-container"><a class="logo" href="./index.html">MULAN</a></li>

        <li class="level0 dropdown"><a href="./blog.html">the art</a></li>
      </ul>
    </div>
  </nav>

  <section class="header-right container">
    <div class="right-content">
      <div class="item addto-top">
        <div class="minicart">
          <span class="cart-icon"><span class="cs-font clever-icon-cart-3"></span><span class="counter-number">0</span></span>
          <div id="minicart-popup">
            <h3 class="mp-title"><span>MY CART</span>
              <a href="javascript:void(0)" id="btn-minicart-close" class="pull-right close-minicart">
                <span class="cs-font clever-icon-close"></span>
              </a>
            </h3>
            <div class="mp-content">
              <div class="bg-cart-empty"></div>
            </div>
          </div>
          <div class="shadow-popup"></div>
        </div>
      </div>
      <div class="item user">
        <span class="cs-font clever-icon-user-2"></span>
        <div class="top-bar-dropdown">
          <div id="currencies-top" class="">
            <label>Currency: </label>
            <div class="dropdown-currency">
              <ul id="currencies" class="currencies_ul list-unstyle">
                <li class="">
                  <a data-currency="USD" class=" currency selected" rel="nofollow">USD</a>
                </li>
                <li class="">
                  <a data-currency="EUR" class=" currency " rel="nofollow">EUR</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="cusstom-link">
            <ul class="customer-links">
              <li class="wishlist-menu"><i class="fa fa-heart" aria-hidden="true"></i><a href="/pages/wish-list" title="My Wishlist">My Wishlist</a></li>
              <li><i class="fa fa-check-square-o" aria-hidden="true"></i><a href="/checkout"><span>Checkout</span></a></li>
              <li><i class="fa fa-sign-in" aria-hidden="true"></i><a href="/account/login" id="customer_login_link">Sign In</a></li>
              <li><i class="fa fa-user-plus" aria-hidden="true"></i><a href="/account/register" id="customer_register_link">Create an account</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item search">
        <span class="cs-font clever-icon-search-4"></span>
        <form>
          <div class="form-group">
            <input id="search" type="text" name="q" class="form-control" value="Search for Products" onclick="this.value=='Search for Products'?this.value='':''" onblur="this.value==''?this.value='Search for Products':''" maxlength="128" >
          </div>
        </form>
      </div>
    </div>
  </section>

</header>
<!-- END HEADER -->

<!-- MAIN -->
<section class="main-content">

  <!-- CONTENT BLOG -->
  <div class="main-blog container padding-0">
    <div class="main col-lg-9 col-md-9 col-sm-9 col-xs-12">

      <div class="item post-blog">
        <div class="image">
          <a href="./blog-detail.html"><img src="./images/art5.jpeg" alt="" /></a>
        </div>
        <span class="datetime">Aug 12, 2016</span>
        <h2 class="title"><a href="./blog-detail.html">The Worst Color to Paint Your Kitchen</a></h2>
        <div class="decription">
          <p>Get bored easily? Try a setup with a wide variety of furniture. Instead of two small sofas facing one another (as in the traditional layout), situate two chairs across from a chaise longue. Place two stools across from a single large sofa to complete a square layout. While it seems like white kitchens have been...</p>
          <a href="./blog-detail.html">Continue reading</a>
        </div>
      </div>

      <div class="item post-blog">
        <div class="image">
          <a href="./blog-detail.html"><img src="./images/art3.jpeg" alt="" /></a>
        </div>
        <span class="datetime">Aug 12, 2016</span>
        <h2 class="title"><a href="./blog-detail.html">The Worst Color to Paint Your Kitchen</a></h2>
        <div class="decription">
          <p>Get bored easily? Try a setup with a wide variety of furniture. Instead of two small sofas facing one another (as in the traditional layout), situate two chairs across from a chaise longue. Place two stools across from a single large sofa to complete a square layout. While it seems like white kitchens have been...</p>
          <a href="./blog-detail.html">Continue reading</a>
        </div>
      </div>

      <div class="item post-blog">
        <div class="image">
          <a href="./blog-detail.html"><img src="./images/art2.jpeg" alt="" /></a>
        </div>
        <span class="datetime">Aug 12, 2016</span>
        <h2 class="title"><a href="./blog-detail.html">The Worst Color to Paint Your Kitchen</a></h2>
        <div class="decription">
          <p>Get bored easily? Try a setup with a wide variety of furniture. Instead of two small sofas facing one another (as in the traditional layout), situate two chairs across from a chaise longue. Place two stools across from a single large sofa to complete a square layout. While it seems like white kitchens have been...</p>
          <a href="./blog-detail.html">Continue reading</a>
        </div>
      </div>

      <div class="oder-post"><a href="">oder post<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
    </div>
    <div class="right-sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <!-- About me -->
      <div class="about-me">
        <div class="title"><span>about me</span></div>
        <div class="image"><a href=""><img src="./images/artist1.jpeg" alt="" style="border-radius: 100%;"/></a></div>
        <div class="decription">
          iOne is a comfortable shop. It’s totally responsive so it adapts to your style as well as the device it’s viewed on.
          <a class="author">Tim Brand Wales</a>
        </div>
      </div>
      <!-- End About me -->

      <!-- Follow us -->
      <div class="follow-us">
        <div class="title"><span>follow us</span></div>
        <ul>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <!-- End Follow us -->

      <!-- Subscribe now -->
      <div class="subscribe">
        <div class="sub-title">Subscribe now to get daily updates</div>
        <form>
          <input type="text" placeholder="Your email address" class="text" />
          <input type="submit" value="subscribe" class="submit" />
          <span>Don’t worry we don’t spam</span>
        </form>
      </div>
      <!-- Subscribe now -->

      <!-- Popular post -->
      <div class="popular-post">
        <div class="title"><span>popular post</span></div>

        <div class="item-post">
          <div class="row">
            <div class="image col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href=""><img  src="./images/art4.jpeg" alt="" style="width: 85px;" /></a></div>
            <div class="main-post col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <a href="">Why girls love animals</a>
              <span>Aug 12, 2016</span>
            </div>
          </div>
        </div>

        <div class="item-post">
          <div class="row">
            <div class="image col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href=""><img src="./images/art1.jpeg" alt="" style="width: 85px;"/></a></div>
            <div class="main-post col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <a href="">Color to paint your kitchen</a>
              <span>Aug 12, 2016</span>
            </div>
          </div>
        </div>

        <div class="item-post">
          <div class="row">
            <div class="image col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href=""><img src="./images/art2.jpeg" alt="" style="width: 85px;"/></a></div>
            <div class="main-post col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <a href="">Your love is beautiful</a>
              <span>Aug 12, 2016</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End popular post -->

      <!-- Category -->
      <div class="categories">
        <div class="title"><span>categories</span></div>
        <ul>
          <li><a href="">Travel</a></li>
          <li><a href="">Musical</a></li>
          <li><a href="">Sports</a></li>
          <li><a href="">Lifestyle</a></li>
          <li><a href="">Foody</a></li>
        </ul>
      </div>
      <!-- End Category -->

      <!-- Ads banner -->
      <div class="ads-banner">
        <div class="group-image-banner slide-border clearfix">
          <a href="#" class="affect-border-inner">
            <img src="./images/art1.jpeg" alt="" />
          </a>
          <div class="image-banner">
            <div class="content">
              <h3 class="bannertitle">Ads Banner</h3>
              <a href="">View more<span class="cs-font clever-icon-next-arrow-1"></span></a>
            </div>
          </div>
          <span class="border-mask"></span>
        </div>
      </div>
      <!-- End Ads banner -->

      <!-- Tags -->
      <div class="tags">
        <div class="title"><span>tags</span></div>
        <ul>
          <li><a href="">Design</a></li>
          <li><a href="">Photography</a></li>
          <li><a href="">Model</a></li>
          <li><a href="">Basic Arts</a></li>
          <li><a href="">3D Digitals</a></li>
          <li><a href="">Filter</a></li>
        </ul>
      </div>
      <!-- End Tags -->
    </div>
  </div>
  <!-- END CONTENT BLOG -->


</section>
<!-- END MAIN -->
<!-- FOOTER -->
<footer>
  <section class="main-footer container padding-0">
    <div class="footer-info">
      <div class="row">
        <div class="item col-lg-2 col-md-2 col-sm-2 col-xs-6">
          <h4 class="title">customer service</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Affiliate</a></li>
            <li><a href="#">Responsibility</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="item col-lg-2 col-md-2 col-sm-2 col-xs-6">
          <h4 class="title">Help</h4>
          <ul>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Size Guide</a></li>
            <li><a href="#">Track Orders</a></li>
          </ul>
        </div>
        <div class="item col-lg-2 col-md-2 col-sm-2 col-xs-6">
          <h4 class="title">Follow us</h4>
          <ul>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i>Pinterest</a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Google+</a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
          </ul>
        </div>
        <div class="item col-lg-2 col-md-2 col-sm-2 col-xs-6"></div>
        <div class="item newsletter col-lg-4 col-md-4 col-sm-4 col-xs-6">
          <h4 class="title">Newsletter</h4>
          <span>Subscribe now to get daily updates</span>
          <form>
            <input id="newsletter" type="text" name="new" class="form-new" value="Your email address" onclick="this.value=='Your email address'?this.value='':''" onblur="this.value==''?this.value='Your email address':''" maxlength="128" >
            <button>subscribe</button>
          </form>
          <span>Don’t worry we don’t spam</span>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="row">
        <div class="left col-lg-6 col-md-6 col-sm-6 col-xs-12">Copyright © 2016  <a href="http://cleversoft.co/">ZooTemplate.</a> All rights reserved.</div>
        <div class="right col-lg-6 col-md-6 col-sm-6 col-xs-12">Any questions? Let us help you.<br>Call us: <a href="tel:0123546868">+84 12354 6868</a></div>
      </div>
    </div>
  </section>
</footer>
<!-- END FOOTER -->
