 .modal-footer{
  display: none;
}

.modal-buttons{
  text-align: right;
}

.add-fx-modal .form-buttons{
  text-align: right;
}

.customer-rate-table{
  th,td{
    text-align: center !important;
  }
}
