@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
  font-family: Roboto;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
.toggle-icon {
  display: none;
}
a,
button,
button {
  text-decoration: none !important;
  transition: color  0.5s ease;
  -moz-transition: color  0.5s ease;
  -webkit-transition: color 0.5s ease;
}
a:hover,
button:hover,
button:hover {
  text-decoration: none;
}
.button {
  transition: all  0.3s ease;
  -moz-transition: all  0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.button:hover {
  -webkit-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  -ms-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}
.button.btn-1 {
  background-color: #fc6a21;
}
.none {
  display: none;
}
.button-effect {
  position: relative;
}
.button-effect:hover {
  -webkit-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  -ms-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
/* Code for animated blinking cursor */
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dropdown_hover {
  0% {
    top: 120%;
  }
  100% {
    top: 100%;
  }
}
/* Header */
header {
  /* Main Menu */
  /*End Main Menu*/
}
header.is-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background: #fff;
}
header.is-sticky .logo .o-logo,
header.is-sticky .logo .text-logo,
header.is-sticky .logo .ione-logo {
  display: none;
}
header.is-sticky .logo.container {
  position: relative;
}
header.is-sticky .logo.container .logo-sticky {
  position: absolute;
  display: block;
  left: 0;
  margin-left: 0;
  top: -10px;
  z-index: 2;
}
header.is-sticky #main-menu {
  padding-top: 0;
  position: absolute;
  width: 100%;
  background: #fff;
}
header.is-sticky .header-right .right-content {
  top: 0;
}
header .logo {
  text-align: center;
}
header .logo .logo-sticky {
  display: none;
}
header .logo .text-logo {
  width: 100%;
  float: left;
  font-family: Roboto;
  font-size: 12.5px;
  color: #8c8c8c;
  font-weight: normal;
  margin-top: 13px;
  letter-spacing: -0.3px;
}
header .header-right {
  position: relative;
}
header .header-right .right-content {
  position: absolute;
  right: 0;
  top: -40px;
}
header .header-right .right-content .item {
  display: inline-block;
  float: right;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 16px;
  cursor: pointer;
}
header .header-right .right-content .item span:hover {
  color: #fc6a21;
}
header .header-right .right-content .item .counter-number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  background: #c7b299;
  top: -5px;
  right: -5px;
  position: absolute;
}
header .header-right .right-content .item .minicart.closed #minicart-popup {
  right: -100%;
  opacity: 0;
}
header .header-right .right-content .item .minicart.closed .shadow-popup {
  opacity: 0;
  visibility: hidden;
}
header .header-right .right-content .item .minicart.actived #minicart-popup {
  right: 0;
  opacity: 1;
}
header .header-right .right-content .item .minicart.actived .shadow-popup {
  opacity: 1;
  visibility: visible;
}
header .header-right .right-content .item .minicart #minicart-popup {
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 99999;
  height: 100%;
  width: 390px;
  font-family: Roboto;
  background-color: #fff;
  transition: all 1s ease 0.2s;
  -moz-transition: all 1s ease 0.2s;
  -webkit-transition: all 1s ease 0.2s;
}
header .header-right .right-content .item .minicart #minicart-popup .mp-title {
  background-color: #fc6a21;
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  margin: 0;
  overflow: hidden;
  text-align: left;
}
header .header-right .right-content .item .minicart #minicart-popup .mp-title span {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
header .header-right .right-content .item .minicart #minicart-popup .mp-title #btn-minicart-close i {
  color: #fff;
  font-size: 16px;
}
header .header-right .right-content .item .minicart #minicart-popup .mp-content .bg-cart-empty {
  text-align: center;
  margin: 40px auto 0 auto;
  background: url('http://placehold.it/100x100') no-repeat;
  background-size: contain;
  width: 166px;
  height: 255px;
}
header .header-right .right-content .item .minicart #minicart-popup .mp-content .bg-cart-empty:before {
  background: #282828;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-animation: spinner-bubble 1.2s linear 1.8s infinite;
  animation: spinner-bubble 1.2s linear 1.8s infinite;
  z-index: 2;
}
header .header-right .right-content .item .minicart #minicart-popup .mp-content .bg-cart-empty:after {
  background: #282828;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-animation: spinner-bubble 1.2s linear 0s infinite;
  animation: spinner-bubble 1.2s linear 0s infinite;
  z-index: 2;
}
header .header-right .right-content .item .minicart .shadow-popup {
  visibility: hidden;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: fixed;
  left: 0px;
  z-index: 99998;
  background: rgba(0, 0, 0, 0.729412);
  transition: all 0.5s ease 0.2s;
  -moz-transition: all 0.5s ease 0.2s;
  -webkit-transition: all 0.5s ease 0.2s;
}
header .header-right .right-content .item .form-group {
  position: absolute;
  right: 0;
  opacity: 0;
  width: 100%;
  min-width: 250px;
  transition: all 0.2s ease 0.2s;
  -moz-transition: all 0.2s ease 0.2s;
  -webkit-transition: all 0.2s ease 0.2s;
}
header .header-right .right-content .item .form-group.actived {
  opacity: 1;
  z-index: 3;
}
header .header-right .right-content .item .form-group input {
  border-radius: 0;
  border: 1px solid #e5e5e5;
  padding: 10px;
}
header .header-right .right-content .item.user:hover .top-bar-dropdown {
  opacity: 1;
  top: 30px;
  visibility: visible;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
}
header .header-right .right-content .item .top-bar-dropdown {
  background: #fff none repeat scroll 0 0;
  padding: 15px;
  position: absolute;
  right: 0;
  opacity: 0;
  z-index: 9;
  text-align: left;
  font-family: Roboto;
  font-size: 12px;
  top: 70px;
  width: 210px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: hidden;
}
header .header-right .right-content .item .top-bar-dropdown #currencies-top {
  float: none;
  padding: 0 15px 30px 0;
  width: auto;
  position: relative;
}
header .header-right .right-content .item .top-bar-dropdown #currencies-top label {
  color: #555;
  float: left;
  font-weight: 500;
}
header .header-right .right-content .item .top-bar-dropdown #currencies-top .dropdown-toggle {
  cursor: pointer;
}
header .header-right .right-content .item .top-bar-dropdown #currencies-top #pre-currencies img {
  margin-right: 5px;
  max-width: 17px;
  position: relative;
  top: -1px;
}
header .header-right .right-content .item .top-bar-dropdown #currencies-top .dropdown-currency {
  position: absolute;
  z-index: 999;
  background: #fff;
  right: 0;
}
header .header-right .right-content .item .top-bar-dropdown ul#currencies {
  text-align: left;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}
header .header-right .right-content .item .top-bar-dropdown #currencies > li {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 0;
}
header .header-right .right-content .item .top-bar-dropdown #currencies a.currency {
  display: inline;
  padding: 10px 5px;
  margin-right: 5px;
  font-weight: 500;
  color: #252525;
}
header .header-right .right-content .item .top-bar-dropdown #currencies li:hover a.currency {
  color: #fc6a21;
}
header .header-right .right-content .item .top-bar-dropdown #currencies a img {
  max-width: 17px;
  margin-right: 1px;
  margin-top: -2px;
}
header .header-right .right-content .item .top-bar-dropdown .cusstom-link .customer-links {
  padding: 0;
}
header .header-right .right-content .item .top-bar-dropdown .cusstom-link .customer-links li {
  padding: 10px 0;
}
header .header-right .right-content .item .top-bar-dropdown .cusstom-link .customer-links li i {
  margin-right: 10px;
  color: #252525;
}
header .header-right .right-content .item .top-bar-dropdown .cusstom-link .customer-links li a {
  color: #252525;
}
header .header-right .right-content .item .top-bar-dropdown .cusstom-link .customer-links li:hover a,
header .header-right .right-content .item .top-bar-dropdown .cusstom-link .customer-links li:hover i {
  color: #fc6a21;
}
header nav#main-menu {
  padding-top: 55px;
}
header nav#main-menu .wrap-main-menu {
  position: relative;
  font-family: Roboto;
  font-size: 14px;
}
header nav#main-menu .wrap-main-menu ul {
  margin: 0 auto;
  padding: 0;
  display: table;
}
header nav#main-menu .wrap-main-menu ul li a {
  font-family: Roboto;
  font-size: 12px;
  color: #333333;
  font-weight: 500;
  text-transform: uppercase;
}
header nav#main-menu .wrap-main-menu ul li a:hover {
  color: #fc6a21;
}
header nav#main-menu .wrap-main-menu ul li.custom-block {
  position: absolute;
  right: 0;
}
header nav#main-menu .wrap-main-menu ul li.level0 {
  height: 57px;
  line-height: 57px;
  display: table-cell;
  padding: 0 18px;
}
header nav#main-menu .wrap-main-menu ul li.parent {
  z-index: 1;
  position: relative;
}
header nav#main-menu .wrap-main-menu ul li.parent > a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f107";
  float: right;
  height: 57px;
  line-height: 57px;
  margin-left: 3px;
}
header nav#main-menu .wrap-main-menu ul li.parent > ul {
  z-index: 3;
  background-color: #fff;
  box-shadow: none;
  position: absolute;
  left: 0;
  padding: 10px 0;
  top: 57px;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
  -moz-transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
  transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
}
header nav#main-menu .wrap-main-menu ul li.parent > ul > li {
  /*border-right: 1px solid #e1e1e1;*/
}
header nav#main-menu .wrap-main-menu ul li.parent > ul > li a {
  font-weight: normal;
  text-transform: inherit;
  font-size: 13px;
}
header nav#main-menu .wrap-main-menu ul li.parent > ul > li:last-child {
  border-right: 0;
}
header nav#main-menu .wrap-main-menu ul li.parent.dropdown ul {
  min-width: 160px;
}
header nav#main-menu .wrap-main-menu ul li.parent.dropdown ul li {
  display: block;
  padding: 5px 15px;
  line-height: 25px;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega {
  position: static;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega.has-bg .bg-megam {
  background: url('http://placehold.it/470x300') no-repeat right top;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega.has-bg .bg-megaw {
  background: url('http://placehold.it/470x300') no-repeat right top;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega.has-bg .content-mega {
  z-index: 1;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega.has-bg .content-mega > li {
  border-right: 1px solid #e1e1e1;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega.has-bg .content-mega > li:last-child {
  border: none;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega > ul {
  width: 100%;
  min-height: 200px;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega > ul li {
  padding: 5px 15px;
  line-height: 25px;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega > ul li a.parent-mega {
  padding: 5px 15px;
  line-height: 25px;
  font-weight: 500;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega > ul li .mega-item {
  margin: 15px 0 0 0;
}
header nav#main-menu .wrap-main-menu ul li.parent.mega > ul li .mega-item li a {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 13px;
}
header nav#main-menu .wrap-main-menu ul li.parent:hover ul {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  min-width: 230px;
}
header nav#main-menu .wrap-main-menu ul li.first {
  padding-left: 0;
}
header nav#main-menu .wrap-main-menu ul li.last {
  padding-right: 0;
}
header nav#main-menu .wrap-main-menu ul li.custom-block {
  padding-right: 0;
}
/* End Header */
/* Main content */
section.main-content {
  padding-top: 35px;
  border: 1px solid #f5f5f5;
  /* Main Contact */
  /* End Main Contact */
  /* Carosel instagram */
  /* End carosel instagram */
}
section.main-content .row .left,
section.main-content .row .right {
  font-family: Roboto;
}
section.main-content .row .left .title,
section.main-content .row .right .title {
  font-size: 13px;
  text-transform: uppercase;
  color: #161616;
  margin-top: 80px;
}
section.main-content .row .left .title span,
section.main-content .row .right .title span {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 8px;
}
section.main-content .row .left p,
section.main-content .row .right p {
  font-size: 15px;
  color: #454545;
  margin-bottom: 40px;
  margin-top: 40px;
}
section.main-content .row .left p a,
section.main-content .row .right p a {
  color: #454545;
}
section.main-content .row .left p a:hover,
section.main-content .row .right p a:hover {
  color: #c7b299;
}
section.main-content .row .left {
  padding-left: 0;
}
section.main-content .row .right {
  padding-right: 0;
}
section.main-content .row .right textarea,
section.main-content .row .right input {
  font-family: Roboto;
  font-size: 15px;
  color: #454545;
  border: none;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-top: 20px;
}
section.main-content .row .right textarea::-webkit-input-placeholder,
section.main-content .row .right input::-webkit-input-placeholder {
  color: #454545;
}
section.main-content .row .right textarea:hover,
section.main-content .row .right input:hover {
  outline: 0;
  border-bottom: 1px solid #c7b299;
}
section.main-content .row .right textarea:hover::-webkit-input-placeholder,
section.main-content .row .right input:hover::-webkit-input-placeholder {
  color: #c7b299;
}
section.main-content .row .right textarea:focus,
section.main-content .row .right input:focus {
  outline: 0;
  border-bottom: 1px solid #c7b299;
}
section.main-content .row .right textarea:focus::-webkit-input-placeholder,
section.main-content .row .right input:focus::-webkit-input-placeholder {
  color: #c7b299;
}
section.main-content .row .right textarea {
  min-height: 100px;
}
section.main-content .row .right button {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #c7b299;
  padding: 15px 20px 15px 20px;
  letter-spacing: 1.5px;
  margin-top: 40px;
  -webkit-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
section.main-content .row .right button:hover {
  background-color: #252525;
}
section.main-content .our-collections {
  padding-top: 80px;
  padding-bottom: 0;
  position: relative;
}
section.main-content .our-collections .title {
  position: absolute;
  top: 48%;
  z-index: 2;
  left: 50%;
  margin-left: -83px;
  background: #fff;
  padding: 15px;
  opacity: 0.7;
}
section.main-content .our-collections .title a {
  font-family: Roboto;
  font-size: 11px;
  color: #252525;
}
section.main-content .our-collections #owl-our-collections .owl-stage-outer .owl-stage .owl-item .item .figure img {
  width: 100%;
  overflow: hidden;
}
section.main-content .our-collections #owl-our-collections .owl-controls {
  margin-top: 0;
}
/* End main content */
/* Footer */
footer {
  background: #f9f9f9;
  padding-top: 30px;
}
footer .main-footer .footer-info {
  padding-bottom: 80px;
}
footer .main-footer .footer-info .item h4 {
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 25px;
  color: #161616;
}
footer .main-footer .footer-info .item ul {
  padding-left: 0;
}
footer .main-footer .footer-info .item ul li {
  line-height: 35px;
}
footer .main-footer .footer-info .item ul li a {
  font-family: Roboto;
  font-size: 12px;
  color: #7d7d7d;
}
footer .main-footer .footer-info .item ul li a i {
  width: 25px;
  height: 25px;
  background: #ebebeb;
  border-radius: 100%;
  line-height: 25px;
  text-align: center;
  margin-right: 10px;
  color: #252525;
  -webkit-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
footer .main-footer .footer-info .item ul li a:hover {
  color: #fc6a21;
}
footer .main-footer .footer-info .item ul li a:hover i {
  background: #fc6a21;
  color: #fff;
}
footer .main-footer .footer-info .item span {
  font-family: Roboto;
  font-size: 12px;
  color: #7d7d7d;
}
footer .main-footer .footer-info .item.newsletter {
  padding-top: 10px;
  padding-left: 32px;
}
footer .main-footer .footer-info .item input#newsletter {
  padding: 10px 15px;
  max-width: 240px;
  width: 100%;
  border: 1px solid #e4e4e4;
  color: #acacac;
  margin-top: 25px;
  margin-bottom: 10px;
}
footer .main-footer .footer-info .item input#newsletter:focus {
  outline: none;
}
footer .main-footer .footer-info .item button {
  padding: 10px;
  background: #c7b299;
  border: 1px solid transparent;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  transition: background-color 0.5s ease;
}
footer .main-footer .footer-info .item button:hover {
  background: #252525;
}
footer .main-footer .footer-copyright {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  color: #7d7d7d;
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
  padding-bottom: 40px;
}
footer .main-footer .footer-copyright .left {
  text-align: left;
}
footer .main-footer .footer-copyright .left a {
  color: #7d7d7d;
}
footer .main-footer .footer-copyright .left a:hover {
  color: #fc6a21;
}
footer .main-footer .footer-copyright .right {
  text-align: right;
}
footer .main-footer .footer-copyright .right a {
  color: #7d7d7d;
}
footer .main-footer .footer-copyright .right a:hover {
  color: #fc6a21;
}
/* End footer */
@media (max-width: 767px) {
  section.main-content .row .left,
  section.main-content .row .right {
    padding: 15px;
  }
}
